body{
    margin: 0;
    padding: 0;
}
.core {
    display: grid;
    grid-template-rows: 20vh auto ;
    grid-template-columns: 50vh;
    justify-content: center;

}
.contn{
    height: fit-content;
    margin: 10px;
    display: flex;
    justify-content: center;
}
img{
    width: -webkit-fill-available;
    margin: -3px;
}

.buy{
    width: 50vh;
    height: 10vh;
    margin-top: 20px;
    background-color: #25d366;
    font-size: larger;
    border-radius: 10px;
}
.contn2{
    display: flex;
    justify-content: center;
}
.contn3{
    display: flex;
    justify-content: center;
}
.main{
    width: 50vh;
    
    justify-content: center;
    background-color: cadetblue;

}



/* CSS */
.button-85 {
  width: 50vh;
  height: 10vh;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: darkslategrey;
  font-size: larger;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: darkslategrey;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@media only screen and (max-width: 414px) {
    body{
        background-color: darkslategrey;
    
    }
    .contn2{
        height: max-content;
        margin-top: -23px;
    }
    .buy{
        width: 100%;
        height: 10vh;
        margin-top: 20px;
        background-color: #25d366;
        font-size: larger;
        border-radius: 10px;
        position: fixed;
        bottom: 0;
    }
    .main{
        width: 100%;
        
        justify-content: center;
        background-color: cadetblue;
        margin-top: -50px;
    
    }
    .core {
        display: grid;
        grid-template-rows: 20vh auto ;
        grid-template-columns: 100%;
        justify-content: center;
    
    }


}
